<!DOCTYPE html>
<html lang="en">
<head>
   <h1>Tinder for education</h1>
   <p>search</p>
    <form method="POST">
        <input name="subject_find" id="subject_find_id" placeholder="Enter a subject" />
        <input type="submit" value="search">
        {% csrf_token %}
    </form>
</head>
<body>
<h1>{{ what_sub }}</h1>
<table id = "find_result">
{% for select in search_result %}
   <tr><td>{{ forloop.counter }}: {{ select.name }}</td></tr>
    <tr><td> {{ select }}</td></tr>
{% endfor %}
</table>
<a href="/tinderforeduapp/{{ name.id }}/your_subject">good subject</a>

</body>
</html>