<!DOCTYPE html>
<html lang="en">
<head>
    <title>Match-and-Learn</title>
    <h1>Match and Learn</h1>
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username }}!</h2>
        <a href="{% url 'tinder:logout' %}">logout</a>
      {% else %}
        <h2>Welcome, Guest!</h2>
        <a href="{% url 'tinder:login' %}">login</a> / <a href="{% url 'tinder:signup' %}">signup</a>
      {% endif %}
   <p>search for some one you're looking for</p>
    <form method="POST">
        <input name="subject_find" id="subject_find_id" placeholder="Enter a subject" />
        <input type="submit" value="search">
        {% csrf_token %}
    </form>
</head>
<body>
<h1>{{ what_sub }}</h1>
<table id = "find_result">
{% for select in search_result %}
   <tr><td>{{ forloop.counter }}: {{ select.name }}</td></tr>
{% endfor %}
</table>
{% if user.is_authenticated %}
<a href="/tinderforeduapp/{{ name.id }}/your_subject">good subject</a>
{% endif %}
</body>
</html>
