<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Enter your good subject</h1>
     <h1>{{ name.name }}</h1>
</head>
    <form method="POST">
        <input name="subject_good" id="subject_good_id" placeholder="Enter a subject" />
        <input type="submit" value="add">
        {% csrf_token %}
    </form>

<body>
    <table id="good_subject_table">
    <form action="{% url 'tinder:select_delete' name.id %}" method="post">
    {% for subject_name in subject.all %}
        <tr><td><input type="checkbox" name="subject_list" id="subject_name{{ forloop.counter }}" value="{{ subject_name.id }}"><label for="subject_name{{ forloop.counter }}">{{ subject_name }}</label></td></tr>
    {% endfor %}
        <input type="submit" value = "remove">
         {% csrf_token %}
    </form>
    </table>
    <p>{{ index }}</p>
</body>
</html>