<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Enter your good subject</h1>
     <h1>{{ name.name }}</h1>
</head>
    <form method="POST">
        <input name="subject_good" id="subject_good_id" placeholder="Enter a subject" />
        <input type="submit" value="add">
        {% csrf_token %}
    </form>

<body>
    <table id="good_subject_table">
    <form action="{% url 'tinder:select_delete' name.id %}" method="post">
    {% for subject_name in subject %}
       <tr><td><input type="checkbox" name = "{{ subject_name }}" id="{{ subject_name }}"  value="{{ subject_name }}">
           <p>{{ forloop.counter }}: {{ subject_name }}</p></td></tr>
    {% endfor %}
        <input name="delete_good_subject" id="delete_good_subject_id" type="submit" value = "delete">
    </form>
    </table>
     <form>
         <input name="edit_good_subject" id="edit_good_subject_id" type="submit" value = "edit">
     </form>

</body>
</html>