gunicorn
aioredis==1.3.1
asgiref==3.2.3
async-timeout==3.0.1
celery==4.4.0
channels==2.4.0
channels-redis==2.4.1
daphne==2.4.1
Django==3.0.7
django-heroku
runner.py==0.5
python-dotenv
django-allauth==0.41.0
django-braces==1.14.0
django-cors-headers==3.2.1
django-model-utils==4.0.0
django-postgrespool2
django-rest-auth==0.9.5
django-tenants==3.0.0
django-redis==4.11.0
dj-database-url==0.5.0
djangorestframework==3.11.0
docker==4.1.0
hiredis==1.0.1
django-redis-cache==2.1.0
redis==3.4.1
hyperlink==19.0.0
oauthlib==3.1.0
opencv-contrib-python==4.1.0.25
psycopg2-binary==2.8.4
public==2019.4.13
pyOpenSSL==19.1.0
request==2019.4.13
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
selenium==3.141.0
social-auth-app-django==3.1.0
six==1.10.0
sqlparse==0.3.0
webencodings==0.5.1
websocket-client==0.57.0
websockets==3.2
whitenoise==5.0.1
Pillow
