<!DOCTYPE html> {% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>About match and Learn</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css'%}">
  <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css'%}"><link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css'%}" type="text/css">
</head>
<body>

<section class="team1 cid-rUbOohe7pc" id="team1-4">
      <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
            OUR AWESOME TEAM
        </h2>
        <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">Seem like you very interest in our project! Please scroll down until the end of the page.</h3>
        <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">This is our answome members in this group that make this project alive!</h3>
        <div class="row media-row">
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{% static 'assets/images/35847066-2327695417248173-5148857002612490240-o-510x680.jpg'%}" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Nattakrit Jatupattaradit</p>
                    </div>
                    <div class="item-role px-2">
                        <p>61-010126-1003-7<br>User and Chat functions</p>
                    </div>
                </div>
            </div>
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{% static 'assets/images/inked90018714-280966546225334-3033880441657491456-n-li-510x680.jpg'%}" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Watcharawut Pornsawat</p>
                    </div>
                    <div class="item-role px-2">
                        <p>61-010126-3016-0<br>Search and Match function</p>
                    </div>
                </div>
            </div>
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{% static 'assets/images/79522874-561867287720969-3593190242791718912-o-1-510x680.jpg'%}" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">Pakkapong Rattanapakdeekun</p>
                    </div>
                    <div class="item-role px-2">
                        <p>61-010126-3011-9<br>Rating and Test functions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-rUbUKME13t" id="content5-8">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    About our App</h2>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rUbURck02j" id="content4-9">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Our app is about socialization (And fate. Maybe...)</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">Maybe you'll find someone that you want to improve your grade with.</h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rUbWREVnmk" id="content2-c">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <blockquote><p><strong>MATCH AND LEARN</strong>&nbsp;<span style="font-style: normal;">is matching website that let you find someone. But not an orinary ways. You need to find someone by subject! So this website is suit for someone who looking for someone to teach you and you can teach them back. It's a WIN-WIN! So your grade is improve and your socialization is improve. More grade! More friend!</span></p></blockquote>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-rUbVkSDSQh" id="content11-a">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    <li><strong>ADD YOUR EXPERTISE SUBJECT</strong>&nbsp;- Everyone has a subject that you're good with. Add them in our site to let everyone know that you can teach them in that subject.</li>
                    <li><strong>SEARCH FOR YOUR POOR SUBJECT</strong> - Again. Everyone has a subject that you're not good. You can find someone that can teach you. So let's search.</li>
                    <li><strong>MATCH AND LEARN</strong> - When you found someone. Ask them to match you. If you're matched, Good! Now you have someone to teach you in that subject.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section info2 cid-rUbXUqJniu" id="info2-d">
    <div class="container">
        <div class="row main justify-content-center">

            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-primary display-4" onclick="history.back()"><span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>

                    Go Back</a></div>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-primary display-4" href="{% url 'tinder:home' %}"><span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>

                    Go to Home</a></div>
            </div>
        </div>
    </div>
</section>


  <script src="{% static 'assets/web/assets/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'assets/popper/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'assets/tether/tether.min.js'%}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js'%}"></script>
  <script src="{% static 'assets/theme/js/script.js'%}"></script>

</body>
</html>