<!DOCTYPE html>
<html lang="en">
<head>
     <h2>id :{{ profile.name }}</h2>
    <p id="fullname_id">First name: {{ profile.fullname }}</p>
    <p id="lastname_id">Last name: {{ profile.lastname }}</p>
    <p id="age_id">age: {{ profile.age }}</p>
     <p id="school_id">school: {{profile.school }}</p>
</head>
<body>
     <form action="{% url 'tinder:watch_profile' profile.id %}" method="post">
         {% csrf_token %}
    <button name="unmatch" value="unmatch" >unmatched</button>
    </form>
     <div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
          <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          <META HTTP-EQUIV="refresh" CONTENT="0">
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
           Comment : {{ comment.comment }} </br>
           Star : {{ comment.star }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</body>
</html>
